<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="../../static/css/dashboard/home.css"
            th:href="@{/dashboard/home.css}" />
    </head>
    <body>
        <div class="container-fluid h-10 mt-1 border-bottom border-dark">
            <header class="row h-100 justify-content-around align-items-center">
                <a
                    href="/"
                    class="d-flex h-100 align-items-center justify-content-center col-3 mb-2">
                    <img
                        src="../../static/images/logo_long.svg"
                        th:src="@{../images/logo_long.svg}"
                        alt="Logo"
                        class="img-fluid h-100"
                /></a>
                <ul class="nav col-6 mx-2 justify-content-around p-0">
                    <li><a href="#" class="nav-link px-2">Dashboard</a></li>
                    <li><a href="#" class="nav-link px-2">Accounts</a></li>
                    <li><a href="#" class="nav-link px-2">Settings</a></li>
                    <li>
                        <a href="#" class="nav-link px-2">Help & Support</a>
                    </li>
                </ul>
                <form action="#" th:action="@{/logout}" th:method="post">
                    <input
                        type="submit"
                        value="Log Out"
                        class="btn btn-primary" />
                </form>
            </header>
        </div>
    </body>
</html>
